*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
        font-family: Arial, sans-serif;
        background-color: #2b292d ;
        color: rgb(236, 240, 242);
        margin: 0;
        padding: 0;
        height: 100vh;
        display: grid;
        grid-template-rows: auto 1fr auto ;
        font-size: 1rem;
    }
/* Fixed Navigation Bar */
.header_container {

            height: 4rem;
            width: 100%;
            display: flex;
            position: fixed;
            justify-content: space-evenly;
            align-items: center;
            background-color: #131521;
            color: white;

        }

        #brand-logo {
            height: 50px;
            width: auto;
            border-radius: 12px;
            border: 2px solid #22ac60;


        }
        #brand-icon{
            height: 50px;
            width: auto;
            border-radius: 50px;
            border: 2px solid #22ac60;


        }


        .header_container a {
            font-size: 1rem;
            text-decoration: none;
            color: #efefef;
            font-weight: bold;
            justify-content: space-around;



        }
        .header_container a:hover {
            color: #22ac60;
            background-color: #131521;
            border-radius: 5px;
            border: 1.5px solid #f7f7f2;
            transition: 0.3s;
        }

        #fnav {
                width: 100%;
                height: 4rem;
                text-align: center;
            }



        /* Tag Container */
        #tagc {
            text-align: center;
            padding: 5px;
            background-color: #30a1b5;
        }
        /* end tag container */
        /* Home container*/
    .home-container {
        height: 86vh;
        width: 100%;
        padding: 4vw;
        background-image: url("images/homepage.jpeg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;



    }

    .home-container:hover{
        border: solid 1.5px #64ea66;
            transition: 0.3s;
    }
    /* home-content style */
        .home-content {
        height: auto;
        width: auto;
        align-items: center;
        display: inline-block;
        padding: 10px;
        margin: 10vh 10vw;
        line-height: 2.5rem;
        }
        /* Buttons */
        .btns {
            width: 320px;
            margin-top: 15px;
            margin-left: 15px;
            display: flex;
            justify-content: space-evenly;


        }

        .getbtn {
            padding: 12px 30px;
            background: #3cff00;
            /* border: none; */
            border-radius: 5px;
            border: 1px solid #3cff00;
            font-weight: bold;
            cursor: pointer;

        }

        .leranbtn {
            padding: 12px 30px;
            background: transparent;
            color: #3cff00;
            margin-left: 15px;
            cursor: pointer;
            float: right;
            border-radius: 5px;
            border: 1px solid #3cff00;
        }

        .leranbtn:hover {
            background: #32cd32;
            transition: 0.3s;
            color: black;
            font-weight: bold;
        }
        .home-icon {
            padding: 0px;
            align-items: center;
            text-align: center;
        }
        #icon {
            width: 150px;
            height: 150px;
            border-radius: 50%;
        }

    /* end Home container */




        /* Course section styles */
                .course-section:hover {
            border: solid 1.5px #64ea66;
            transition: 0.3s;

        }
        .course-section h2{
            background-color: rgb(102, 149, 172);
            padding: 5px;
            text-align: center;
        }
        .course-container {
            margin-left:4vw ;
            margin-right: 4vw;
        }
        .row1-course ,.row2-course, .row3-course {

            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: space-between;
        }


        .course{
            height: 40vh;
            width: 20%;
            margin-top: 1rem;
            margin-bottom: 1rem;
            padding: 1rem;
            border-radius: 5px;

            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;


        }
        .course h3{
            text-align: center;
            margin-top: 32vh;
            background-color: rgba(0, 0, 0, 0.5);
            padding: 5px;
        }
        .course:hover {
            border: solid 1.5px #64ea66;
            transition: 0.3s;
            cursor: pointer;


        }
        .course h3:hover {
            border: solid 1.5px white;
            color: #64ea66;
            background-color: transparent;
            transition: 0.3s;
            border-radius: 5px;

        }
        #programming{
            background-image: url("../images/programming\ language\ .jpeg");
        }
        #dsa{
            background-image: url("../images/dsa.jpeg");
        }
        #web-development{
            background-image: url("../images/web\ development.jpeg");
        }
        #ds{
            background-image: url("../images/data\ science.jpeg");
        }
        #cloud-computing{
            background-image: url("../images/cloud\ computing.jpeg");
        }
        #seber-security{
            background-image: url("../images/cyber\ security.jpeg");
        }
        #DevOps{
            background-image: url("../images/devops.jpeg");
        }
        #system-design{
            background-image: url("../images/system\ design\ .jpeg");
        }
        #AI{
            background-image: url("../images/artificial\ intelligence.jpeg");
        }
        #R-and-P{
            background-image: url("../images/Resume\ and\ Placement\ .jpeg");
        }
        #R-and-I{
            background-image: url("../images/Research\ and\ Innovation\ .jpeg");
        }
        #other-course{
            background-image: url("../images/other\ courses\ .jpeg");
        }

        /* end course section styles */









      /* about section styles */
        .about-us{
            text-align: center;
            background-color: #2b292d;
        }

        .about-us h2 {
            padding: 5px;
            background-color:rgb(102, 149, 172);
        }
        .about-us:hover{
            border: solid 1.5px #64ea66;
            transition: 0.3s;
        }
        .about {
            margin-left: 4vw;
            margin-right: 4vw;

            background-color:  #2b292d;
            text-align: center;

        }
        .abclayaimx {
            margin-top: 1rem;
            padding: 1rem;
            height: auto;
            width: 100%;
            display: flex;
            /* border-radius: 5px;
            background-color: #1E1E1E;
            border: solid 0.5px #64ea66; */
        }
        .abclayaimx h3 {
            text-align: left;
        }

        .abclayaimx p,h4 {
            padding-left: 20px;
            text-align: left;
        }
        .otherinfo {
            height: auto;
            width: 100%;
            padding-bottom: 1rem;
        }

        .aa ,.bb {

            display: flex;
            justify-content: space-between;

        }

        .mission ,.vision , .does , .team {
            padding: 1rem;
            margin-top: 1rem;
            height: 170px;
            width: 49%;
        }
        .abclayaimx:hover , .mission:hover , .vision:hover , .does:hover , .team:hover {
            background-color:#1E1E1E;
            border-radius: 5px;
            border: solid 1.5px #64ea66;
            transition: 0.3s;
        }
        .mission , .does{
            margin-right: 5px;
        }
        .vision , .team {
            margin-left: 5px;
        }
        .about p {
            text-align: left;
        }






 /* contact section */
    .socialmedia {
            margin-left: 4vw;
            margin-right: 4vw;
            background-color: #2b292d;
            display: flex;
            justify-content: space-between;

        }

        #insta, #X, #youtube, #linkd, #facebook {
            margin-bottom: 1rem;
            margin-top: 1rem;
            padding: 15px;
            color: #f2efef;
            font-weight: bold;
            text-align: center;
            width: 19%;
            height: auto;

            cursor: pointer;

        }
        #insta:hover, #X:hover, #youtube:hover, #linkd:hover, #facebook:hover {
            color: #ffff;
            background-color:#1E1E1E;
            border-radius: 5px;
            border: solid 1.5px #64ea66;
            transition: 0.3s;
        }


        footer {
            height: 60px;
            width: 100%;
            background-color: #333;
            color: white;
            text-align: center;
            padding: 10px;
            position: relative;
            /* position:sticky; */
            bottom: 0;

        }
        footer p {
            margin: 0;
            line-height: 40px;

        }

    .contact h2 {
        text-align: center;
        padding: 5px;
        color: #fff;
        background-color:rgb(102, 149, 172);
    }
    .contact:hover{
        border: solid 1.5px #64ea66;
            transition: 0.3s;
    }

